.lb-nav a.lb-next {
  opacity: 0;
  background-size: 30px;
  @include mq(small) {
    background-size: 50px;
  }
  @include mq(large) {
    transform: translateX(30%);
    width: 50%;
    opacity: 0.5;
  }
}

.lb-nav a.lb-prev {
  opacity: 0;
  background-size: 30px;
  @include mq(small) {
    background-size: 50px;
  }
  @include mq(large) {
    transform: translateX(-30%);
    width: 50%;
    opacity: 0.5;
  }
}
