.parent {
  @include flex($just: center);
  margin-bottom: 2.5em;
}

.main-content {
  max-width: 1250px;
}

// .col-1 .col-2 .col-3 {
//   @include flex();
// }
.lb-image {
  padding: 0;
  min-height: 70%;
  height: 43.75%;
}
.lb-dataContainer {
  max-width: 600px;
  margin-top: 2.5em;
}
